* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Comic Sans MS, cursive, sans-serif;
    line-height: 1.6;
    background-color: #333;
}

.main {
    color: white;
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.logo {
    font-size: 24px;
    font-weight: bold;
}
.nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.nav a {
color: white;
    text-decoration: none;
    padding: 10px;
    background-color: #555;
    border-radius: 5px;
    text-align: center;
}
.nav a:hover {
    background-color: #777;
}

/* 768px и больше */
@media (min-width: 768px) {
    .main {
        flex-direction: row;
    }
    .nav {
        flex-direction: row;
        gap: 15px;
    }
    .nav a {
        background-color: transparent;
    }
    .nav a:hover {
        background-color: #777;
    }
}